@page "/facture"

@inject HttpClient http
@inject NavigationManager nav

@using Facturation.Shared

<h1>Factures</h1>
<button class="btn btn-dark" @onclick=toFacForm>Ajouter Facture</button>
<br />
<br />

@if (allFactures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Client</th>
                <th>Montant dû</th>
                <th>Montant Réglé</th>
                <th>Date Emission</th>
                <th>Date Règlement</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var fac in allFactures)
            {

            <tr>
                <td><a href="/factures/@fac.code">@fac.code</a></td>
                <td>@fac.client</td>
                <td>@fac.montantDu €</td>
                <td>@fac.montantRegle €</td>
                <td>@fac.GetDateE()</td>
                @if (fac.montantRegle != 0)
                {
                    <td>@fac.GetDateR()</td>
                }
                else
                {
                    <td style="color:red"> En Attente </td>
                }

            </tr>
            }
        </tbody>
    </table>
}
@code {

    private IEnumerable<FactureDTO> allFactures = null;

    protected override async Task OnInitializedAsync()
    {
        allFactures = await http.GetFromJsonAsync<IEnumerable<FactureDTO>>("api/factures");
    }

    private void toFacForm()
    {
        nav.NavigateTo("/newfacture");
    }
}



